{% extends '::base_error.html.twig' %}

{% block content %}

{{ parent() }}

{% trans %}error.404{% endtrans %}
<br/>

<div class="alert alert-warning" role="alert">
{{ status_text }}
</div>

{% endblock content %}