// customize bootstrap variables here:
@import "base";
@import "variables";

//Variables a declarar
$icon-font-path: "/sgr3/SGR3/web/css/fonts/bootstrap/";

@import "bootstrap";

//Corrección de estilos para el login, que haremos extensible para todo. Sin esto, falla en Firefox
#loginbox .input-group {
    clear: both;
}

//Padding a 0 para las listas de prereservas de una reunión
.prereservas {
    @include inline-block;
    @include single-box-shadow;
    clear: both;
    padding: 0;
}

.prereservas li {
    @include inline-block;
    @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
    padding: 4px 10px;
    margin: 1em 0;
}

.col_prereservas {
    
}